<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <%- include("./partials/productos.ejs") %>
        <a href="/" class="btn btn-outline-dark mt-2" role="button">Agregar Producto</a>
    </div>
    
</body>
</html>